<h2 style="margin-top:0px">Form Example</h2>

<form class="form-horizontal" role="form">
    {{#ember-cli-wizard
        wizardData=wizardData
        submitAction="submitAction"
        cancelAction="cancelAction"
        animationDuration=700
        as |currentState|
    }}
        {{#currentState.step stepId="1" wizardCurrentState=currentState}}
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label" for="title">Username</label>
                <div class="col-xs-12 col-sm-9" data-test="loadable-title">
                    {{input class="form-control" name="title" value=username}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label" for="description">Password</label>
                <div class="col-xs-12 col-sm-9" data-test="loadable-description">
                    {{input type="password" class="form-control" name="description" value=password}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label" for="description">Confirm Password</label>
                <div class="col-xs-12 col-sm-9" data-test="loadable-description">
                    {{input type="password" class="form-control" name="description" value=confirmPassword}}
                </div>
            </div>
        {{/currentState.step}}

        {{#currentState.step stepId="2" wizardCurrentState=currentState}}
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label" for="title">First Name</label>
                <div class="col-xs-12 col-sm-9" data-test="loadable-title">
                    {{input class="form-control" name="title" value=firstName}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label" for="description">Last Name</label>
                <div class="col-xs-12 col-sm-9" data-test="loadable-description">
                    {{input class="form-control" name="description" value=lastName}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label" for="description">Email</label>
                <div class="col-xs-12 col-sm-9" data-test="loadable-description">
                    {{input class="form-control" name="description" value=email}}
                </div>
            </div>
        {{/currentState.step}}

        {{#currentState.step stepId="3" wizardCurrentState=currentState}}
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label" for="title">Street</label>
                <div class="col-xs-12 col-sm-9" data-test="loadable-title">
                    {{input class="form-control" name="title" value=street}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label" for="description">City</label>
                <div class="col-xs-12 col-sm-9" data-test="loadable-description">
                    {{input class="form-control" name="description" value=city}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label" for="description">State</label>
                <div class="col-xs-12 col-sm-9" data-test="loadable-description">
                    {{input class="form-control" name="description" value=state}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label" for="description">Country</label>
                <div class="col-xs-12 col-sm-9" data-test="loadable-description">
                    {{input class="form-control" name="description" value=country}}
                </div>
            </div>
        {{/currentState.step}}
    {{/ember-cli-wizard}}
</form>
